
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin: 0px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth; 
  overflow-x: hidden;
  
}

.container {
  display: block;
  background-color: black;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px auto;
  overflow-x: hidden;
   overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  background: url('assets/jpg/mainfoto.jpg');
  background-repeat: no-repeat;
  background-position: center 0px;
  max-width: 1440px;
  height: 92px;
  padding-left: 0px;
  padding-top: 0px;
}

.logo {
  width: 51px;
  height: 51px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.logo-btn {
  background-size: contain;
  background-repeat: no-repeat;  
  background-color: transparent;
  border: none;
  width: 51px;
  height: 51px;
  cursor: pointer;
}


.logo-btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.hamburger {
  display: none;
}

.nav {
  display: flex;
  margin-left: auto;
  margin-top: 23px;
  margin-bottom: 20px;
  border: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 469px;
  margin: 0px;
  list-style: none;
  padding-left: 15px;
  padding-right: 16px;
}

.nav-link-1,
.nav-link-2,  
.nav-link-3,
.nav-link-4,
.nav-link-5 {
  padding: 0 15px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  transition: .3s;
  line-height: 50px;
  cursor: pointer;
}

.nav-link-1 {
  width: 49px;
}


.nav-link-2 {
  width: 81px;
}

.nav-link-3 {
  width: 55px;
}

.nav-link-4 {
  width: 48px;
}

.nav-link-5 {
  width: 86px;
}

.nav-link-1:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.nav-link-2:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.nav-link-3:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.nav-link-4:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.nav-link-5:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px; 
}

.switch-lng {
  display: flex;
  justify-content: space-between;
  height: 51px;
  width: 70px;
  border: 0;
  padding-right: 20px;
  padding-bottom: 19px;
  padding-top: 23px;
  text-align: center;
}

.lng-text-en {
  width: 25px;
  height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
}

.lng-text-slash {
  width: 8px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.lng-text-ru {
  width: 20px;
  height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
}

.lng-text-ru:hover{
filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.lng-text-en:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.lng-text{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.burger {
  display: none;
}

#hero {
  background-image: url('assets/jpg/mainfoto.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  max-width: 1440px;
}

.hero-section {
  padding-top: 163px;
  padding-left: 80px;
  padding-bottom: 330px;
  height: 330px;
  max-width: 500px;
  border-radius: 0px;
}

.hero-title {
  margin: 0px;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-text {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 21px;
  width: 470px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.btn-hero {
  height: 54px;
  width: 219px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  padding-left: 69px;
  padding-right: 70px;
  padding-top: 6px;
  padding-bottom: 7px;
  border-radius: 0px;
  text-align: center;
  border: 2px solid #BDAE82;
  cursor: pointer;
  background: #BDAE82;
}

#skills {
  max-width: 1440px;
}

.section-heading {
  position: relative;
  width: 700px;
  height: 80px;
  margin: 0 auto;
  padding-top: 100px;
}

.hediang-img {
  position: absolute;
  z-index: 0;
  padding-top: 39px;
}

.hediang-title-skills {
  padding-left: 274px;
  padding-right: 274px;
}

.section-title-skills {
  position: absolute;
  z-index: 1;
  width: 152px;
  background: #000;
  height: 80px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
  margin: 0px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.skills-item {
  width: 320px;
  height: 240px;
}

.camera {
  padding-left: 129px;
  padding-right: 129px;
  padding-bottom: 45px;
}

.video {
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 45px;
}

.image {
  padding-left: 127px;
  padding-right: 127px;
  padding-bottom: 45px;
}

.microfon {
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 45px;
}

.skill-name {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  height: 40px;
  padding-bottom: 20px;
}

.name-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin: auto;
}

.skill-description {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  height: 72px;
  padding-bottom: 8px;
}

.item-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin: auto;
}

#portfolio {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

.section-heading-portfolio {
  position: relative;
  width: 700px;
  height: 80px;
  margin: 0 auto 1px;
  padding-top: 100px;
}

.section-title-portfolio {
  position: absolute;
  z-index: 1;
  width: 228px;
  background: #000;
  height: 80px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
  margin: 0px;
}

.hediang-title-portfolio {
  padding-left: 236px;
  padding-right: 248px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 60px;
}

.gallery-photo{
  max-width: 450px;
  max-height: 560px;
}

.black {
  background-color: #000;
  color: #BDAE82;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1400px;
  padding-top: 60px;
}

#video {
  max-width: 1440px;
  margin: auto;
}

.videofon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('assets/jpg/video-player.jpg');
  background-repeat: no-repeat;
  background-position: center 60px;
  max-width: 1400px;
  height: 705px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.player {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.player:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

#price {
  max-width: 1440px;
}

.price-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 58px;
  padding-bottom: 100px;
}

.price-item {
  height: 505px;
  width: 449px;
  border: 3px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
}

.price-header {
  width: 128px;
  height: 56px;
  padding-right: 159px;
  padding-left: 155px;
  padding-top: 40px;
  text-align: center;
}

.price-name {
  margin: 0px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
}

.price-number {
  width: 86px;
  height: 48px;
  padding-left: 177px;
  padding-right: 179px;
  padding-top: 19px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #BDAE82;
}

p {
  margin: 0px;
}

.price-text{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 364px;
  height: 180px;
  padding-left: 38px;
  padding-right: 42.67px;
  padding-top: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.btn-prices{
  padding-left: 112px;
  padding-top: 38px;
}

.btn-price {
  height: 55px;
  width: 220px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 6px;
  padding-bottom: 9px;
  border-radius: 0px;
  text-align: center;
  border: 2px solid #BDAE82;
  cursor: pointer;
  background: #BDAE82;
}

button:hover {
  color: white;
  transition: 0.4s;
}

#contacts {
  display: flex;
  justify-content: end;
  max-width: 1440px;
  height: 700px;
  background: url('assets/jpg/contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
}

.contacts-title {
  width: 450px;
  height: 80px;
  padding-left: 970px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.section-title-contacts {
  font-family: "Merriweather";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDAE82;
  margin: 0px;
}

.input {
  height: 50px;
  width: 450px;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  margin-left: 970px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 18px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDAE82;

}

::placeholder {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDAE82;
}

.text-message {
  padding-left: 970px; 
  background-color: transparent;
}

.text-input {
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 100px;
  padding-left: 17px;
  padding-top: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
  text-align: left;
}

.send-message {
  padding-left: 970px;
  padding-top: 25px;
}

.btn-message {
  height: 55px;
  width: 220px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 6.8px;
  padding-bottom: 9px;
  border-radius: 0px;
  text-align: center;
  border: 2px solid #BDAE82;
  cursor: pointer;
  background: #BDAE82;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  height: 150px;
  padding: auto;
}

.copirite{
  display: flex;
  justify-content: space-between;
  width: 182px;
  height: 50px;
  padding-left: 20px;
  padding-top: 50px;
}

.fot {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
}

.fot-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  padding-right: 13px;
}

.shcool {
 width: 211px;
 height: 50px;
 padding-top: 50px;
 padding-bottom: 50px;
}

.school-link{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 188px;
  height: 50px;
  padding-right: 20px;
  padding-top: 50px;
}

.social-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 469px;
  margin: 0px;
  list-style: none;
  padding-left: 0px;
}

.social-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.fot-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.school-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

@media (max-width: 1440px) {
 .container {
   width: 100%;
   margin-left: auto;
 }
}

@media (max-width: 1244px) {
 .price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}


@media(max-width: 768px){
.container {
  max-width: 768px;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 648px;
  height: 92px;
  padding-left: 60px;
  padding-right: 60px;
  background: url('assets/jpg/hero.jpg');
  background-repeat: no-repeat;
  background-position: center 0px;
  margin: auto;
}

.nav {
  position: fixed;
  padding-left: 0px;
  margin: 0px;
  flex-direction: column;
  height: 8500px;
  background-color: black;
  margin-top: 0px;
  right: -620px;
  transition: 1.5s;
  overflow-x: hidden;
}  

.nav.open{
  width: 620px;
  margin-left: 100px;
  right: 0px;
  z-index: 2;
  transition: 1s;
  overflow-x: hidden;
}

.nav-list {
  flex-direction: column;
  width: 150px;
  height: 429px;
  padding-left: 126px;
  padding-right: 0px;
  padding-top: 146px;
  overflow-x: hidden;
}

.nav-link-1,
.nav-link-2,  
.nav-link-3,
.nav-link-4,
.nav-link-5 {
  padding-left: 0px;
  padding-right: 0px;   
}

.nav-item {
  padding: 0px;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  width: 150px;
  height: 73px;
  text-align: left;
}

.logo {
  padding-left: 0px;
  padding-top: 20px;
}

.switch-lng{
  padding-top: 20px;
  margin-left: auto;
  width: 81px;
}

.lng-text-slash{
  padding-right: 11px;
}

.lng-text-ru {
  padding-right: 2px;
}

.hamburger {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  padding-top: 21px;
  padding-right: 4px;
  z-index: 2;
}

.hamburger:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 1.5s;
  cursor: pointer;
}

.hamburger .line {
  width: 50px;
  height: 3px;
  background-color: #FFFFFF;
  display: block;
  margin: 9.8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 
}

.hamburger.open .line1 {
  width: 61px;
  height: 2px;
  transform: rotate(-45deg) translate(-13px, 5px);;
  position: fixed;
}

.hamburger.open .line2 {
  opacity: 0;
}

.hamburger.open .line3 {
  width: 61px;
  height: 2px;
  transform: rotate(45deg) translate(-10px, -2px);
  position: fixed;
}

.hamburger.open:hover {
  filter: invert(26%) sepia(15%) saturate(638%)  hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
  cursor: pointer;
}

#hero{
  background-image: url('assets/jpg/hero.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  max-width: 768px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  height: 421px;
  max-width: 390px;
  padding-top: 76px;
  padding-left: 60px;
  padding-right: 317px;
  padding-bottom: 0px;
  margin: auto 0px;
}
  
.hero-title {
  width: 165px;
  font-family: 'Merriweather';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-text {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 60px;
  width: 390px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#skills {
  max-width: 768px;
}
  
.section-heading {
  width: 364px;
  padding-top: 101px;
}

.section-title-skills{
  width: 131px;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
}

.hediang-title-skills{
  padding-left: 116px;
}

.hediang-img{
  width: 362px;
  padding-top: 18px;
}

.skills-items {
  display: flex;
  justify-content: space-around;
  max-width: 718px;
  height: 520px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
}

.skills-item {
  width: 300px;
  height: 224px;
}

.skill-name{
  width: 280px;
  height: 40px;
  padding: 0px 10px 20px 20px;
}

.skill-description{
  height: 44px;
  padding-right: 0px;
  padding-left: 20px;
}

.item-description {
  height: 44px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

#image{
  padding-left: 8px;
}

.image {
   padding-bottom: 26px;
}

#microfon{
   padding-right: 22px;
}

.microfon{
   padding-bottom: 26px;
}

#camera{
  padding-left: 8px;
}

.camera {
   padding-bottom: 26px;
}

#videoimg{
   padding-right: 22px;
}

.video{
   padding-bottom: 26px;
}

.section-heading-portfolio {
  width: 364px;
  height: 80px;
  padding-top: 105px;
  align-items: center;
}

.hediang-title-portfolio {
  padding-left: 90px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#portfolio {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 768px;
}

.section-title-portfolio{
  width: 185px;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.portfolio-btn{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 445px;
  padding-top: 30px;
  align-items: center;
  margin: auto;
}

.gallery{
  width: 450px; 
  gap: 25px;
  align-items: center;
  margin: auto;
  padding-top: 62px;
}

.gallery-photo{
  height: 561px;
}

#video {
  height: 628px;
  max-width: 768px;
}

.videofon{
  background: url('assets/jpg/video-player-adap.jpg');
  background-repeat: no-repeat;
  background-position: center 28px;
  max-width: 768px;
  height: 448px;
  padding: 0px;
}

.player{
  width: 75px;
  height: 75px;
  padding-top: 18px;
  padding-right: 78px;
}

.player_img{
  width: 64.6px;
  height: 64.6px;
}

#price{
  height: 1905px;
}

.price-section{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 420px;
  height: 1615px;
  padding-top: 28px;
  align-items: center;
  margin: auto;
}

.price-item{
  width: 420px;
  height: 505px;
}

.price-header{
  padding-top: 41px;
  padding-left: 142px;
  padding-right: 0px;
}

.price-number{
  padding-left: 164px;
  padding-right: 0px;
}

.price-text{
  padding-left: 25px;
  padding-right: 0px;
}

.btn-prices{
  padding-left: 97px; 
  padding-top: 39px;
}

.btn-price{
  height: 54px;
}

#contacts{
  height: 602px;
  max-width: 768px;
  background: url('assets/jpg/contacts-adap.jpg');
  background-size: auto 600px;
  background-position: center center;
}

.contacts-title {
  width: 450px;
  height: 64px;
  padding-left: 293px;
  padding-top: 61px;
  padding-bottom: 40px;
}

.section-title-contacts{
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.input {
  margin-left: 159px;
}

.text-message {
  padding-left: 159px;
  margin-left: 0px;
}

.send-message{
  padding-left: 274px;
  padding-top: 25px;
}

.footer{
  display: flex;
  flex-direction: column;
  max-width: 768px;
  height: 190px;
}

.copirite{
  height: 30px;
  padding-left: 298px;
  padding-top: 14px;
  padding-bottom: 0px;
}

.shcool{
  padding-left: 279px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.social{
  padding-left: 290px;
  padding-top: 0px;
  padding-bottom: 27px;
}
}

@media (max-width: 767px) {
.skills-items {
  display: flex;
  justify-content: center;
  max-width: 718px;
  padding-left: 0px;
  height: auto;
}

#camera {
  padding: 0px;
}

#videoimg{
  padding: 0px;
}

#image{
  padding: 0px;
}

#microfon{
  padding: 0px;
}

#contacts {
  max-width: 767px;
}

.contacts-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.input{
  margin-left: 0px;
}

.text-message{
  padding-left: 0px;
}

.send-message{
  padding-left: 0px;
}

.contacts-title{
  padding-left: 0px;
  padding-right: 0px;
}

.section-title-contacts{
  text-align: center;
}

.copirite{
  align-items: center;
  margin: auto;
  padding-left: 0px;
  padding-top: 14px;
  padding-bottom: 0px;
}

.shcool{
  align-items: center;
  margin: auto;
  padding-left: 0px;
}

.social{
  align-items: center;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}
}

@media (max-width: 590px){
 .nav-list{
   padding-left: 200px;
 }
}

@media (max-width: 490px){
.header{
  padding-left: 40px;
  padding-right: 40px;
 } 

 
.hero-section{
  padding-left: 30px;
}

.hero-text {
  margin: 0 0 60px;
  padding-top: 20px;
  padding-bottom: 0px;
  max-width: 256px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.section-heading {
  width: 280px;
}

.hediang-img{
  width: 280px;
}

.section-title-skills{
  width: 102px;
}

.hediang-title-skills{
  padding-left: 89px;
}

.hediang-title-portfolio{
  padding-left: 61px;
}

.section-title-portfolio{
  width: 163px;
}

.section-heading-portfolio{
  width: 280px;
}

.portfolio-btn{
  flex-direction: column;
  max-width: 320px;
  align-items: center;
  margin: 0 auto;
}

.gallery{
  width: 280px; 
}

.gallery-photo{
  max-width: 280px;
  height: 390px;
  margin: 0 auto;
}

#img-gal{
  width: 280px;
  height: 390px;
}

#video{
  padding-left: 10px;
  padding-right: 10px;
}

.price-section{
  max-width: 300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.price-item{
  width: 300px;
}

.price-header {
  padding-left: 85px;
}

.price-number {
  padding-left: 110px;
}

.price-text{
  width: 260px;
}

.btn-prices {
  padding-left: 44px;
}

.contacts-section{
  width: 300px;
}

.contacts-title{
  width: 300px;
}

.input{
  width: 300px;
}

.text-message{
  width: 300px;
}

.text-input{
  width: 300px;
}
}

@media (max-width: 470px) {
.nav-list{
  padding-left: 320px;
}
}
