
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  
}

html {
  scroll-behavior: smooth; 
}

.container {
 
  background-color: black;
  color: white;
  width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: url('assets/jpg/mainfoto.jpg');
  background-repeat: no-repeat;
  background-position: center 0px;
  width: 1440px;
  height: 90px;
  padding-left: 0px;
  padding-top: 0px;
}

.logo {
  width: 51px;
  height: 51px;
  padding-left: 13px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-btn {
  background-size: contain;
  background-repeat: no-repeat;  
  background-color: transparent;
  border: none;
  width: 51px;
  height: 51px;
  cursor: pointer;
}


.logo-btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

.nav {
  margin-left: 784px;
  margin-top: 23px;
  margin-bottom: 20px;
  border: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 469px;
  margin: 0px;
  list-style: none;
  padding-left: 15px;
  padding-right: 16px;
  
}

.nav-link-1,
.nav-link-2,  
.nav-link-3,
.nav-link-4,
.nav-link-5 {
  padding: 0 15px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  transition: .3s;
}

.nav-link-1 {
  width: 49px;
}

.nav-link-2 {
  width: 81px;
}

.nav-link-3 {
  width: 55px;
}

.nav-link-4 {
  width: 48px;
}

.nav-link-5 {
  width: 86px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px; 
}

.switch-lng {
  height: 51px;
  width: 70px;
  border: 0;
  margin-right: 20px;
  margin-bottom: 19px;
  text-align: center;
}

.lng-text{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.hero-section {
  background-image: url('assets/jpg/mainfoto.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  padding-top: 163px;
  padding-left: 80px;
  padding-right: 860px;
  padding-bottom: 330px;
  height: 330px;
  width: 500px;
  border-radius: 0px;
}

.hero-title {
  margin: 0px;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-text {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 25px;
  height: 120px;
  width: 470px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.btn-hero {
  height: 55px;
  width: 220px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  padding-left: 71px;
  padding-right: 70px;
  padding-top: 6px;
  padding-bottom: 7px;
  border-radius: 0px;
  text-align: center;
  border: 2px solid #BDAE82;
  cursor: pointer;
  background: #BDAE82;
}

#skills {
  width: 1440px;
  height: 482px;
  margin: 0px;
}

.section-heading {
  position: relative;
  width: 700px;
  height: 80px;
  padding-left: 370px;
  padding-right: 370px;
  padding-top: 100px;
}

.hediang-img {
  position: absolute;
  z-index: 0;
  padding-top: 39px;
}

.hediang-title-skills {
  padding-left: 274px;
  padding-right: 274px;
}

.section-title-skills {
  position: absolute;
  z-index: 1;
  width: 152px;
  background: #000;
  height: 80px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
  margin: 0px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1400px;
  height: 242px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.skills-item {
  width: 320px;
  height: 240px;
}

.camera {
  padding-left: 129px;
  padding-right: 129px;
  padding-bottom: 47.5px;
}

.video {
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 47.5px;
}

.image {
  padding-left: 127px;
  padding-right: 127px;
  padding-bottom: 47.5px;
}

.microfon {
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 47.5px;
}

.skill-name {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  height: 40px;
  padding-bottom: 20px;
}

.name-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin: auto;
}

.skill-description {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  height: 72px;
  padding-bottom: 8px;

}

.item-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin: auto;
}

#portfolio {
  width: 1400px;
  height: 1500px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

.section-title-portfolio {
  position: absolute;
  z-index: 1;
  width: 217px;
  background: #000;
  height: 80px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
  margin: 0px;
}

.hediang-title-portfolio {
   padding-left: 220px;
   padding-right: 248px;
}

.partfolio-btn {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 55px;
  width: 895px;
  padding-left: 252px;
  padding-right: 253px;
  padding-top: 60px;
}

.black {
  background-color: #000;
  color: #BDAE82;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  height: 1145px;
  width: 1400px;
  padding-top: 60px;
}

#video {
  height: 945px;
  width: 1440px;
  margin: auto;
 
}

.videofon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('assets/jpg/video-player.jpg');
  background-repeat: no-repeat;
  background-position: center 60px;
  width: 1400px;
  height: 705px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.player {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.player:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.4s;
}

#price {
  width: 1440px;
  height: 845px;
}
